header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30%;
  padding-top: 20px;
}

nav {
  display: flex;
  gap: 30px;
  padding-right: 20%;
}

main {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
